<form action="http://localhost:8080/MicrosservicoUsuario/api/users/login" method="POST">
	Login:<input type="text" name="login"/><br>
	Senha:<input type="password" name="password"/><br>
	<input type="submit" value="Enviar"/>
</form>